/* this is the block of css that covers all the pages */

body{
  background-color: RGB(149, 118, 171);
  width: 960px;
  margin-left:50px;
  }
  p, figcaption, blockquote{
    color:white;
    font-family:Pragati narrow;
    font-size: 24px;
  }

  h1, h2, h3{
    color:white;
    font-family:Pragati narrow;

  }
h1{
  font-size: 40px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 30px;
}

}
.inline_link{
  color:RGB(35, 4, 57);


}
